<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Data</title>
</head>
<body>
    <h1>Welcome to the COVID-19 Tracker!</h1>
    <p>Click on the following links to view the data:</p>
    <ul>
        <li><a href="/covid19/confirmed">Confirmed Cases</a></li>
        <li><a href="/covid19/deaths">Death Cases</a></li>
        <li><a href="/covid19/recovered">Recovered Cases</a></li>
    </ul>
</body>
</html>
